.container {
  display: flex;
  flex-direction: column;
  cursor: pointer;

  + .container {
    margin-top: 2rem;
  }
  .card {
    &-cta {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  }
}
@media (min-width: 1250px) {
  .container {
    justify-content: flex-start;
    align-items: flex-start;
    margin: 2rem 1rem 2rem 1rem;
    width: 18rem;

    &:hover {
      transform: scale(1.05);
      transition: all, 0.3s ease-in-out;
    }
    .card {
      &-body {
        width: 100%;
        max-height: 40rem;
      }
    }
  }
}
